*.class
*.jar
*~
.hg/
.hgignore
/.calva
/.clj-kondo
/.lein-*
/.lsp
/.nrepl-port
/.prepl-port
/checkouts
/classes
/keys
/resources/activitystreams-test-documents
/target
pom.xml
pom.xml.asc
profiles.clj

report.html
